body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #333;
}
.container {
  text-align: center;
}
.container h1 {
  font-size: 6rem;
  margin: 0;
}
.container p {
  font-size: 1.5rem;
  margin: 10px 0 20px;
}
.container a {
  text-decoration: none;
  color: white;
  background-color: #007BFF;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
    
}
.container a:hover {
  background-color: #0056b3;
}
